html {
    width: 100%;
    box-sizing: border-box;
}

body {
    height: auto;
}

.brown {
    color: grey;
}

.lp3_terms_text {
    color: black;
}

.fixed-footer {
    position: absolute;
    bottom: -2%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}